<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    .header {
      background-color: #007bff;
      color: white;
      text-align: center;
      padding: 20px 0;
      font-size: 24px;
      font-weight: bold;
    }
     .container {
      display: flex;
    }
    
    .sidebar {
      width: 200px;
      background-color: #f4f4f4;
      padding: 20px;
      height: 100vh;
    }

    .sidebar h3 {
      text-align: center;
    }

    .sidebar a {
      display: block;
      color: #007bff;
      padding: 10px;
      text-decoration: none;
      border-radius: 5px;
    }
    .sidebar a:hover {
      background-color: #ddd;
    }
    </style>
</head>
<body>
    <div class="header">
    Welcome to the Exam Application System
  </div>
   <div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
     
      <a href="/admin">Dashboard</a>
      <a href="/subject">Subject</a>
      <a href="/exam">Exam</a>
      <a href="/admin/questions">Questions</a>
      <a href="/admin/schedule">Schedule</a>
    </div>

    <!---------------main content----------->
      
     <div class="container-fluid">
        

     </div>
   </div>
</body>
</html>