<!DOCTYPE html>
<html>
<head>
  <title>Exam Application</title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<<<<<<< HEAD
  <nav> 
    <a href="/">Home</a> |
    <a href="/register">Sign Up</a> |
    <a href="/login">Login</a>
  </nav>
  <h1>Welcome to Exam Application</h1>
=======

    <h1>Welcome to Exam Application</h1>

    <div class="btn-container">
        <a href="/signup" class="btn">Register</a>
        <a href="/login" class="btn">Sign In</a>
    </div>

>>>>>>> 6bab29c06ce568b814a76dbc79f776cd7936c422
</body>
</html>
