<!DOCTYPE html>
<html>
<head>
  <title>Login – Exam App</title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<<<<<<< HEAD
  <nav>
    <a href="/">Home</a> |
    <a href="/register">Sign Up</a> |
    <a href="/login">Login</a>
  </nav>
  <h1>Login</h1>
  <form action="/login" method="POST">
    <input name="username" placeholder="Username" required /><br>
    <input type="password" name="password" placeholder="Password" required /><br>
    <button type="submit">Login</button>
  </form>
=======

  <div class="login-container">
    <h2>Login</h2>
    <form class="frm" action="/login" method="POST">
      <div class="form-group">
        <label for="username">Email or Username</label>
        <input type="text" id="username" name="username" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>
      <button type="submit">Login</button>
    </form>
    
  </div>

>>>>>>> 6bab29c06ce568b814a76dbc79f776cd7936c422
</body>
</html>
