<!DOCTYPE html>
<html>
<head>
  <title>Register – Exam App</title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<<<<<<< HEAD

  <div class="login-container">
    <h2>Sign Up</h2>
    <form name ="frm " action="/register" method="POST">
      <div class="form-group">
        <label for="fullname">Full Name</label>
        <input type="text" id="fullname" name="fullname" required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>
      <button type="submit">Register</button>
    </form>
    <div class="extra">
      Already have an account? <a href="/login">Login</a>
    </div>
  </div>

=======
  <nav>
    <a href="/">Home</a> |
    <a href="/register">Sign Up</a> |
    <a href="/login">Login</a>
  </nav>
  <h1>Register</h1>
  <form action="/register" method="POST">
    <input name="fullname" placeholder="Full Name" required /><br>
    <input type="email" name="email" placeholder="Email" required /><br>
    <input type="number" name="Contact" placeholder="Contact" required><br>
    <input name="username" placeholder="Username" required /><br>
    <input type="password" name="password" placeholder="Password" required /><br>
    <button type="submit">Register</button>
  </form>
>>>>>>> 67a519add6f65f756647b8f59b86623d4896709d
</body>
</html>
